$primary: #5265E1;
$secondary: #FA5959;
$success:  #f6b013;
$info:   #842cec;
$warning:   #24d1d0; 
$danger: #0c347e;
$light: #ebecec;

$card-border-width: 0;               
$card-border-radius: 5%;

.card-img-center {
    width: 100px;
    height: 100px;
}

$nav-link-hover-color: $secondary;
$nav-link-color: grey;

$nav-tabs-border-color: grey;
$nav-tabs-link-hover-border-color: white;
$nav-tabs-link-active-border-color: white;

$font-family-sans-serif: 'Roboto', sans-serif;

.card-text {
    color: grey;
}

.text {
    color: grey;
}

.background-figure {
    width: 200px;
    height: 100px;
    border-radius: 50% 0 0 50%;
    background-color: $primary
}

@import "../node_modules/bootstrap/scss/bootstrap";

