$primary: #5265E1;
$secondary: #FA5959;
$success:  #f6b013;
$info:   #842cec;
$warning:   #24d1d0; 
$danger: #0c347e;
$light: #ebecec;


$card-border-width: 0;               
$card-border-radius: 5%;


$navbar-light-color: grey;               
$navbar-light-hover-color: $secondary;
$navbar-light-toggler-border-color: none;


$nav-link-color: grey;
$nav-link-hover-color: $secondary;


$nav-tabs-border-color: grey;
$nav-tabs-link-hover-border-color: none;
$nav-tabs-link-active-border-color: none;


$font-family-sans-serif: 'Roboto', sans-serif;

$accordion-button-icon: url("./../Imagenes/icon-arrow.svg");

.btn {
    white-space: nowrap;
}

.navigation {
    white-space: nowrap;
}

.card-img-center {
    width: 100px;
    height: 100px;
}


.card-text {
    color: grey;
}

.text {
    color: grey;
    max-width: 450px;
}

.tab-text {
    color: grey;
}

.background-figure {
    background-color: $primary;
    width: 150rem;
    height: 50rem;
    border-radius: 20rem 0 0 20rem;
    max-height: 80%;
    max-width: 90%;
    position: absolute;
    z-index: -1;
    top: 20%;
    left: 20%;
}

.background-figure-left {
    background-color: $primary;
    width: 150rem;
    height: 100rem;
    border-radius: 0 20rem 20rem 0;
    max-height: 80%;
    max-width: 90%;
    position: absolute;
    z-index: -1;
    right: 20%;
    bottom: 0;
}

.hero-parent {
    position: relative;
}

.tab-parent {
    position: relative;
}

.img {
    display: flex;
    max-width: 90%;
    height: auto;
}

.tab-content {
    margin-top: 2rem;
    margin-bottom: 2rem;
}


.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border-bottom: solid $secondary 0.5rem;
}



@import "../node_modules/bootstrap/scss/bootstrap";

